{% extends 'AppCoder/padre.html' %}

{%  load static %}

{% block contenidoquecambia%}

    <h1>Cursos:</h1>

    {% for curso in cursos %}

        <div class="container">
            <li>
                {{ curso }}
                <a class="btn btn-link" href="{% url 'curso_delete' curso.id %}">Borrar</a>
            </li>
        </div>

    {% endfor %}

<a class="btn btn-link" href="{% url 'formulario_curso' %}">Nuevo Curso</a>
<a class="btn btn-link" href="{% url 'busqueda_camada' %}">Buscar Camada</a>

{% endblock %}